@import 'mixins';


@include media-breakpoint-down(sm){
  .card-body.sm-p-0 {
    padding: 0;
  }
}

$activity-line-with:  4px;
$activity-icon-rds:   36px;
$activity-icon-size:  1.3rem;

.activity {
  position: relative; 

  &:before { 
		content:       '';
		top:           0;
		height:        100%;
    width:         4px;
    border-radius: 1rem; 
		position:      absolute;
		background:    rgba($secondary,.5);
		left:          $activity-icon-rds / 2 - $activity-line-with / 2;
  }

  &-block {
    display: flex;
    margin:  1rem 0;
  }

  &-icon {
    border-radius:     50%;
    top:               5px;
    position:          relative;
    color:             $white;
    width:             $activity-icon-rds;
    height:            $activity-icon-rds;
    background-color:  $primary;
    box-shadow:        $box-shadow-sm;
    i {
      font-size:  $activity-icon-size;
      margin:     calc((#{$activity-icon-rds} / 2) - #{$activity-icon-size} / 2);
    }
  }

  &-content {
    width:        calc(100% - #{$activity-icon-rds} - #{$activity-icon-rds} / 2);
    margin-left:  $activity-icon-rds / 2;

    &:before {
      content:      '';
      position:     absolute;
      top:          1rem;
      right:        100%;
      height:       0;
      width:        0;
      border:       .5rem solid transparent;
      border-right: .5rem solid $primary;
    }

    &-head {
      background-color:   $primary;
      color:              $white;
    }
  }
  
}


/* dashboard css */

.widget-box-two {
  text-align: right;
}
.card-box {
  padding: 15px 40px;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow:0px 0px 10px rgba(33, 32, 32, 0.12);
}

.widget-two-custom{

}

// .widget-two-custom .widget-two-icon {
//   color: #3ebb8c;
  
// }
.widget-box-two .widget-two-icon {
  position: absolute;
    left: 15px;
    font-size: 70px !important;
    top: 5px;
    overflow: hidden;
    vertical-align: middle;
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 95px;
}

.widget-box-two p {
    font-size: 14px;
    font-weight: bold;
    color: #6c757d !important;
}

.font-600 {  
  font-size: 36px;
  margin-top: 5px;
  color: #6c757d !important;
  font-weight: bold;
}

.card-box{
  height:110px !important;
}

.icon_1{
  color: #fb9678!important;
}

.icon_2{
  color: #01c0c8!important
}

.icon_3{
  color: #ab8ce4!important;
}

.icon_4{
  color:#607d8b;
}

.card_body_section{
  background: #fff !important;
  width: 100%;
  min-width: 100%;
  padding:10px;
  border-radius: 10px;
  min-height:110px;
  
}

.stretch_body_section{
   position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    //background-color: #fff;
    background-clip: border-box;
    //border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.3125rem;
    //box-shadow:0px 0px 10px rgba(33, 32, 32, 0.12);
    height:110px;
    
}

.temprature_bg{
  background: linear-gradient(to right, #ffbf96, #fe7096);
}

.humatity_bg{
  background: linear-gradient(to right, #90caf9, #047edf 99%);
}

.co2_bg{
background: linear-gradient(to right, #84d9d2, #07cdae);
}

.co_bg{
  background: linear-gradient(to right, #FFEB3B, #FF5722);
}

.n2_bg{
  background: linear-gradient(to right, #3F51B5, #FF9800);
}

.suspended_bg{
  background: linear-gradient(to right, #E91E63, #607D8B);
}

.card_body_section  h1{ 
   font-size:20px;
   text-transform: capitalize;
   color: #747679;
   font-weight: bold;
}

.card_body_section i{
  font-size: 55px;
  color: #03a9f3;
  position: relative;
  top: 28px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.8s ease-in-out;
} 

.mat_icons i{
    font-size: 15px;
    color: #fff;  
    position: relative;
    top:0;
  }
  

.card_body_section h3{
  font-size: 30px;
  font-weight: 600;
  color: #757575;
  margin-top: 1rem !important;
}

.mat_icons{
  
  color: #fff !important;
  border-radius: 8px;
  font-size: 14px !important;
  padding: 2px 10px;
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
}


.trending_down{
  background:  #FFB64D;
}


.trending_up{
  background: #93BE52;
}

.trending_flat{
  background: #fe7096;;
}

// .card_body_section .fas:hover{
//   top:0px;
// }

.stretch_body_section a>i{
  position: absolute;
    top: 0;
    right: 5px;
    font-size: 20px;
    z-index: 999;
    cursor: pointer;
    color:#03a9f3;
}


/*flipped animation class */

.card_body_sec_1{

}

.graph_show_body_sec{

}

//* flipped css */@at-root


.player {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
}

    .player div {
        position: absolute;
        height: 100%;
        width: 100%;     
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
       
    }
   
    .player .back {
        // background: #03a9f3 !important;
        color: #FFF;
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }


.player.voted {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.graph_icon i{
  font-size: 80px;
  top: 10px;
  left: 20px;
}

.graph_icon h3{
  position: absolute;
    right: 40px;
    top: 11px;
    font-size: 37px;
}

.range_for_graph i{  
  font-size: 30px;
    left: 0px;
    top: 0px;
}

  
.high_range,.high_range i{
 color:#93BE52 !important; 
}

.low_range,.low_range i{      
  color:#FFB64D !important;
}

.random_range,.random_range i{
  color:#fe7096 !important;
}
     
.head_cntrl_section ul{
  list-style:none;   
  float: right;
  //margin-right: 10px;
  position: absolute;
  right: 0;
  background: #314052;
  padding: 0px 10px !important;
  top: 3px;
}

.head_cntrl_section ul li{
  display: inline-block;
}

.head_cntrl_section  ul li a{
  cursor:pointer;
  color:#d7d9dc !important;
  font-weight:bold;
  font-size:13px;
}

.head_cntrl_section{
  background: #253240;
  height: 36px;
  line-height: 32px;
  width: 100%;
}

.radius_border{
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.toggle_class_overlay{
  position: fixed;
  width: 102%;
  height: 100% !important;
  top: 0;
  left: 0;
  background: #202429 ;
  z-index: 9999;
  display: block !important;
}

.close_default_btn{
  display:none;
  position: relative;
  float: right;
  margin-top: 20px;
  color: #ccc;
  font-size: 30px;
  z-index:9999;
  cursor:pointer;

}


/* dashboard section  dropdown*/

 
.expansion_panel_div{
  width: 100%;
    padding: 15px 20px !important;
    // border-bottom: 1px solid #ccc
}

.panel_exp1,.panel_exp2{
  display: none;
  padding-right: 0px !important;
  background: #314052;
  z-index: 99;
  position: absolute;
  width: 100%;
}


.slide_down_div{
  height:380px ;
  //margin:0 auto !important;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* new css */
.card_body_sec h1{
  font-size:16px;
  transform: rotate(-8deg);
}

.card_body_sec .round_border{
  border: 0px solid #5e6165;
  width: 140px;
  height: 140px;
  margin: 0px auto;
  border-radius: 100%; 
}

.card_body_sec {
  cursor: pointer;
  min-height:240px;
  transition: transform .2s; 
}

.round_border h3{
  line-height: 111px;
    border-radius: 100%;
    border: 14px solid #17191b;
    width: 140px;
    height: 140px;
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-top: 0px !important;
  // border-top: 14px solid #282e34 !important;
  // border-bottom: 13px solid #2e343e !important;
}
.card_body_sec{
  background: #314052;
  border-radius: 4px;
  color: #fff;
  box-shadow: 0px 0px 1px #0c0c0c;  
}

.body_head_div{
  font-size: 18px;
    background: #253240;
    font-weight: bold;
    width: 141px;
    border-bottom-right-radius: 114%;
    border-bottom-left-radius: 0%;
    margin: 0 auto;
    text-align: left;
    padding-left: 10px !important;
    position: relative;
    top: -10px;
}

.low{ 
  background: #8bc34a !important;
}

.high{
  background: #ff5722!important;
}

.medium{
  background: #ff9800 !important;
}

.range_status{
  font-size: 18px;
    font-weight: bold;
    color: #ccc;
    margin-top: 1rem !important;
    text-transform: capitalize;
}
.head_cntrl_section h6{
  color:#fff;
  padding:5px 0px !important;
  font-weight: bold;
}

.card_body_sec:hover{
  box-shadow: 0px 7px 8px #1d7286;
  -webkit-transform: scale(1.3);
  transform: scale(1.03);
  }

.dashboard_element_sub_info{
  position: absolute;
  right: 3%;
  background: red;
  max-width: 185px;
  display: none;
  top: 5px;
}

.dashboard_element_sub_info:after {
  position: absolute;
  top: 2px;
  left: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #1c7a90;
  border-right: 0 solid #314052;
  border-bottom: 14px solid transparent;
  content: " ";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.dashboard_element_sub_info{ 
  
}

@keyframes animation-name {
 0% {
   opacity: 0;
 }
 100% {
   opacity: 1;
 }
}

.dashboard_element_sub_info {
  background-color: #1c7a90;
  border-radius: 4px;
  padding: 5px 10px;
  height: auto;
  color: #fff;
  text-align: left;
  height:2rem;

}

.slide_drop_menu{
  width: 100%;
  float: right !important;
  left: auto !important;
  right: 90% !important;
}


.dropmenu_li_1,.dropmenu_li_2{
  position: absolute;
  right: 0;
  top: 5px;
  background: #314052;
  z-index: 999;
  color:#d7d9dc !important;
  font-weight: bold;
  font-size: 13px;
  padding: 0px 6px !important;
  cursor:pointer;
}

.dropmenu_li_1{
  width: 50px;
  padding: 0px 10px !important;
}

.dropdown-item:hover, .dropdown-item:focus{
  color: #ffffff !important;
    text-decoration: none;
    background-color: #1c7a90 !important;
}
.slide_drop_menu a{
  cursor:pointer;
}

@media (max-width: 767px){
	.slide_drop_menu{
		right: 6% !important;
	}
}