<div class="row">
	<div class="col-md-12 col-sm-12 col-12">
		<h3 class="page_title">Change Password</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="card">
			<div class="card-body">
				<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">

					<div class="form-group row">
						<label class="col-sm-3 col-form-label">Current Password</label>
						<div class="col-sm-9">
							<input type="password" placeholder="Enter your password" class="form-control password"
								formControlName="current_password" name="current_password"
								[ngClass]="{'is-invalid': submitted && f.current_password.errors }" required
								(keydown.space)="$event.preventDefault()" />
							<div *ngIf="submitted && f.current_password.errors" class="invalid-feedback">
								<div *ngIf="f.current_password.errors.required">Current password  is required</div>
							</div>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-3 col-form-label">New Password</label>
						<div class="col-sm-9">
							<input type="password" placeholder="Enter a new password" class="form-control password"
								formControlName="new_password" name="new_password"
								[ngClass]="{'is-invalid': submitted && f.new_password.errors }" required
								(keydown.space)="$event.preventDefault()" />
							<div *ngIf="submitted && f.new_password.errors" class="invalid-feedback">
								<div *ngIf="f.new_password.errors.required ">New password is required</div>
								<div *ngIf="f.new_password.errors.minlength"> Password must be at least 6 characters long.</div>
							</div>
							
						</div>
					</div>



					<div class="form-group row">
						<label class="col-sm-3 col-form-label">Confirm Password</label>
						<div class="col-sm-9">
							<input type="password" placeholder="Re-Enter your new password"  
								class="form-control password" formControlName="confirm_password" name="confirm_password"
								[ngClass]="{'is-invalid': submitted && f.confirm_password.errors }" required
								/>
							
							<div *ngIf="submitted && f.confirm_password.errors"  class="invalid-feedback">
								<div *ngIf="f.confirm_password.errors.required">Confirm Password is required</div>
								<div *ngIf="f.confirm_password.errors.mustMatch">Passwords must match</div>
							</div>
						</div>
					</div>


					<div class="form-group row">
						<label class="col-sm-3 col-form-label"></label>
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary save_btn">Change Password</button>
							<!-- <button type="reset" class="btn btn-primary save_btn ml-1 reset_btn">Reset</button> -->
						</div>
					</div>


					<div class="form-group row">
						<label class="col-sm-3 col-form-label"></label>
						<div class="col-sm-9">

						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>