<div class="row">
  <div class="col-md-12 col-sm-12 col-12">
    <h3 class="page_title">Add Device</h3>
  </div>
</div>
<div>

  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="card">
        <div class="card-body">
          <form name="thingform" #f="ngForm" novalidate (ngSubmit)="f.valid && onSubmit(f)">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Name</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="name" placeholder="Device"
                  [(ngModel)]="locationModel.deviceName" required #name="ngModel">
                <span *ngIf="f.submitted && !name.valid" class="errorMessage">
                  Device Name is required
                </span>
              </div>
              <div class="col-sm-4">
                <select class="form-control" name="location" #location="ngModel" required [(ngModel)]="locationModel.deviceLocation" >
                  <option value="" select disabled> Select a location </option>
                  <option *ngFor="let location of rows" [value]="location._id" [selected]="location._id == locationModel.deviceLocation"> {{ location.locationName }} </option>
                </select>
                <span *ngIf="f.submitted && !location.valid" class="errorMessage">
                  Location is required
                </span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label"></label>
              <div class="col-sm-9">
                <button *ngIf="!isNewThing" [disabled]="isSaving" type="submit" class="btn btn-success">
                  {{isSaving ? 'Applying Changes' : 'Apply Changes'}}
                </button>
                <button *ngIf="isNewThing" [disabled]="isSaving" type="submit" class="btn btn-primary save_btn">
                  <b> <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving"
                      class='fa fa-circle-o-notch fa-spin'></i>&nbsp;&nbsp;
                    {{isSaving ? 'Creating' : 'Create'}} </b>

                </button>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>